<template>
  <div class="chat">
    <div class="block-left colum1">
      <h3>Hello, {{ username }}</h3>
      <div class="create">
        <form @submit="sendForm">
          <h4>Create new room</h4>
          <input
            type="text"
            clas="nameroom"
            v-model="room_name"
            placeholder="name"
            class="form-control rounded-right enter"
            required
          />
          <input
            class="btn btn-primary btn-create"
            type="submit"
            value="create"
          />
        </form>
      </div>

      <div class="container scrollStatus" id="container">
        <ul class="list-group">
          <div v-for="room in rooms" v-bind:key="room.id">
            <li
              v-if="room.owner.username == username"
              class="list-group-item active"
              aria-current="true"
            >
              {{ room.name }}
              <input
                @click="enterRoom(room)"
                class="btn btn-light"
                type="submit"
                value="connect"
              />
            </li>
            <li v-else class="list-group-item">
              {{ room.name }}
              <input
                @click="enterRoom(room)"
                class="btn btn-primary"
                type="submit"
                value="connect"
              />
            </li>
          </div>
        </ul>
      </div>
    </div>

    <div v-if="!$apollo.loading" class="colum2">
      <div v-if="deleted">Sorry, room was deleted.</div>

      <div v-else-if="me.currentRoom" class="block-right">
        <div>
          <h3>{{ me.currentRoom.name }}</h3>

          <form @submit.prevent="updateRoom(me.currentRoom)">
            <div
              class="input-group mb-3"
              v-if="username == me.currentRoom.owner.username"
            >
              <input
                type="text"
                class="form-control"
                placeholder="new name of chat"
                aria-label="Recipient's username"
                v-model="update"
                aria-describedby="button-addon2"
                required
              />
              <button class="btn btn-primary" type="submit">Update</button>
            </div>
          </form>

          <div class="chat-space scrollStatus">
            <div
              v-for="message in me.currentRoom.lastMessages"
              v-bind:key="message.id"
            >
              <p
                v-if="message.author.username == username"
                class="alert alert-secondary"
              >
                <small>{{ message.timestamp }}</small>
                <b>[you]:</b> <br />{{ message.text }}
              </p>
              <p v-else class="msg">
                <small>{{ message.timestamp }}</small
                ><br />
                <b>[{{ message.author.username }}]:</b>
                <br />{{ message.text }}
              </p>
            </div>
          </div>
          <form @submit.prevent="createMessage">
            <div class="input-group mb-3" id="update">
              <input
                type="text"
                class="form-control"
                placeholder="your message"
                aria-label="Recipient's username"
                v-model="message"
                aria-describedby="button-addon2"
                required
              />
              <button class="btn btn-primary" type="submit" id="button-addon2">
                Enter
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div v-if="!$apollo.loading" class="colum3">
      <div v-if="deleted">Sorry, room was deleted.</div>

      <div v-else-if="me.currentRoom" class="block-right">
        <div>
          <h3>Members</h3>
          <div class="container scrollStatus thirdScroll" id="members">
            <ul
              v-for="member in this.me.currentRoom.members"
              v-bind:key="member.id"
              class="list-group"
            >
              <li
                v-if="member.username == username"
                class="list-group-item active"
                aria-current="true"
              >
                {{ member.username }}
              </li>
              <li v-else class="list-group-item">{{ member.username }}</li>
            </ul>
          </div>
          <input
            @click="leaveRoom"
            class="btn btn-primary btn-leave"
            type="submit"
            value="leave"
          />
          <input
            @click="deleteRoom(me.currentRoom)"
            v-if="username == me.currentRoom.owner.username"
            class="btn btn-primary btn-delete"
            type="button"
            value="delete"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  GET_ROOMS,
  CREATE_ROOM,
  ROOM_SUB_CREATE,
  ROOM_SUB_UPDATE,
  ROOM_SUB_DELETE,
  GET_ME_ROOM,
  CURRENT_ROOM_UPDATE,
  JOIN_ROOM,
  LEAVE_ROOM,
  UPDATE_ROOM,
  DELETE_ROOM,
  MEMBER_JOIN,
  MEMBER_LEFT,
  MESSAGE_SUB_CREATE,
  MESSAGE_CREATE,
} from "../constants/graphql.js";

export default {
  name: "Home",
  data() {
    return {
      rooms: [],
      room_name: null,
      username: localStorage.getItem("username"),
      message: null,
      me: null,
      update: null,
      deleted: false,
      id: 1,
    };
  },
  apollo: {
    rooms: { query: GET_ROOMS },
    me: { query: GET_ME_ROOM },
    $subscribe: {
      roomCreated: {
        query: ROOM_SUB_CREATE,
        // Result hook
        result({ data }) {
          const { roomCreated } = data;
          console.log("SUB CREATE ROOM", roomCreated);
          this.rooms.push(roomCreated);
        },
      },
      roomDeleted: {
        query: ROOM_SUB_DELETE,
        result({ data }) {
          for (let index = 0; index < this.rooms.length; index++) {
            if (this.rooms[index].id == data.roomDeleted.id) {
              this.rooms.splice(index, 1);
            }
          }
          if (this.me.currentRoom.id == data.roomDeleted.id) {
            this.deleted = true;
            this.me.currentRoom = null;
          }

          console.log("SUB ROOM DELETE", data.roomDeleted);
        },
      },
      roomUpdated: {
        query: ROOM_SUB_UPDATE,
        // Result hook
        result({ data }) {
          for (let index = 0; index < this.rooms.length; index++) {
            if (this.rooms[index].id == data.roomUpdated.id) {
              console.log(this.rooms[index]);
              this.$set(this.rooms, index, data.roomUpdated);
              console.log(this.rooms[index]);
            }
          }
          console.log("SUB ROOM UPDATE", data.roomUpdated);
        },
      },
      currentRoomChanged: {
        query: CURRENT_ROOM_UPDATE,
        result({ data }) {
          if (data.currentRoomChanged.currentRoom)
            this.$set(
              this.me.currentRoom,
              "currentRoom",
              data.currentRoomChanged.currentRoom
            );
          else this.me.currentRoom = null;
          console.log("SUB ROOM CHANGE", data.currentRoomChanged.currentRoom);
        },
      },
      memberJoin: {
        query: MEMBER_JOIN,
        result({ data }) {
          this.me.currentRoom.members.push(data.memberJoined);
          const mes = {
            id: this.id,
            author: { username: "system" },
            text: data.memberJoined.username + " entered",
          };
          this.id++;
          this.me.currentRoom.lastMessages.push(mes);
          console.log("SUB MEMBER JOIN", data.memberJoined);
        },
      },
      memberLeft: {
        query: MEMBER_LEFT,
        result({ data }) {
          for (let i = 0; i < this.me.currentRoom.members.length; i++) {
            if (this.me.currentRoom.members[i].id == data.memberLeft.id) {
              this.me.currentRoom.members.splice(i, 1);
            }
          }
          const mes = {
            id: this.id,
            author: { username: "system" },
            text: data.memberLeft.username + " leaved",
          };
          this.me.currentRoom.lastMessages.push(mes);
          this.id++;
          console.log("SUB MEMBER LEFT", data.memberLeft);
        },
      },
      messageSubCreate: {
        query: MESSAGE_SUB_CREATE,
        result({ data }) {
          this.me.currentRoom.lastMessages.push(data.messageCreated);
          console.log("SUB MESSAGE CREATE", data.messageCreated);
        },
      },
    },
  },

  methods: {
    async sendForm(e) {
      e.preventDefault();
      try {
        console.log("create post");
        const result = await this.$apollo.mutate({
          mutation: CREATE_ROOM,
          variables: { name: this.room_name },
        });
        console.log(result);
      } catch (error) {
        console.log(error);
      }
    },
    async enterRoom(room) {
      try {
        this.deleted = false;
        console.log("Hello");
        console.log(room);
        if (!this.me.currentRoom) {
          console.log("enter room");
          const result = await this.$apollo.mutate({
            mutation: JOIN_ROOM,
            variables: { roomId: room.id },
          });
          console.log(result);
        } else {
          console.log("leave room");
          const result = await this.$apollo.mutate({
            mutation: LEAVE_ROOM,
          });
          console.log(result);
          console.log("enter room");
          const result2 = await this.$apollo.mutate({
            mutation: JOIN_ROOM,
            variables: { roomId: room.id },
          });
          console.log(result2);
        }
      } catch (error) {
        console.log(error);
      }
    },
    async leaveRoom() {
      try {
        console.log("leave room");
        const result = await this.$apollo.mutate({
          mutation: LEAVE_ROOM,
        });
        console.log(result);
      } catch (error) {
        console.log(error);
      }
    },
    async updateRoom(room) {
      try {
        console.log(room);
        console.log("update room");
        const result = await this.$apollo.mutate({
          mutation: UPDATE_ROOM,
          variables: { id: room.id, name: this.update },
        });
        console.log(result);
      } catch (error) {
        console.log(error);
      }
      this.update = null;
    },
    async deleteRoom(room) {
      try {
        console.log(room);
        console.log("delete room");
        const result = await this.$apollo.mutate({
          mutation: DELETE_ROOM,
          variables: { id: room.id },
        });
        console.log(result);
        for (let i = 0; i < this.me.currentRoom.members.length; i++)
          this.me.currentRoom.members.currentRoom = null;
      } catch (error) {
        console.log(error);
      }
    },
    async createMessage() {
      try {
        console.log("create message");
        const result = await this.$apollo.mutate({
          mutation: MESSAGE_CREATE,
          variables: { text: this.message },
        });
        console.log(result);
      } catch (error) {
        console.log(error);
      }
      this.message = null;
    },
  },
};
</script>

<style>
.chat {
  display: flex;
  align-content: space-between;
  justify-content: space-around;
}

.colum1,
.colum2,
.colum3 {
  width: calc(100% / 3);
  height: 90vh;
}

.scrollStatus {
  width: 80%;
  height: 60%;
  margin: 10%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: left;
}

.msg {
  border-radius: 4px 16px 16px 16px;
  -webkit-border-radius: 4px 16px 16px 16px;
  -moz-border-radius: 4px 16px 16px 16px;
  margin: 2%;
  background-color: #eee;
  padding: 6px 12px;
  border-radius: 16px;
  display: inline-block;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  max-width: 70vh;
}

.chat-space,
.thirdScroll {
  height: 70vh;
}

.list-group-item {
  display: flex;
  margin: 2%;
  align-items: baseline;
  justify-content: space-between;
}
.btn-primary {
  margin: 4%;
}
.form-control {
  width: 60%;
  margin: 4% auto;
  height: 40px;
}

.block-left,
.block-right {
  align-items: center;
  height: 80vh;
  /*margin: auto auto auto 15%;*/
}
.thirdScroll {
  width: 90%;
}

.btn-create {
  background-color: #42b983;
  border-color: #42b983;
  width: 60%;
}
.btn-leave,
.btn-delete {
  background-color: indianred;
  border-color: indianred;
  width: 35%;
  /* margin: 17% 5% 15% 35%; */
  align-items: center;
}
</style>
