<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <h1>This is a home page</h1>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  components: {
    
  }
}
</script>
