<template>
    <div class="flex-div">
        <div class="login">
            <div v-if="error">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Authentification failed!</strong> {{error}}
                    <button @click="noerr" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
                <h2>Login</h2>
            <form @submit="handleSubmit" class="form-login">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" v-model="username" id="username" class="form-control rounded-right enter" required />
                </div>
                <div class="form-group">
                    <label htmlFor="password">Password</label>
                    <input type="password" v-model="password" id="password" class="form-control rounded-right enter" required />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" >Login</button>
                    <router-link to="/register" class="btn btn-link">Register</router-link>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import {onLogin} from '../vue-apollo'
import { GET_LOGIN } from '../constants/graphql.js'

export default {
    name: 'SignIn',
    data () {

        return {
            login: null,
            user: null,
            error: null,
            username: null,
            password: null,
            er_mes:"",
            skipQuery:true,
            submitted: false
        }
    },
    methods: {
        async handleSubmit (e) {
            e.preventDefault()
            let res = null
            try{
                res = await this.$apollo.query({
                query: GET_LOGIN,
                variables: { 
                    username: this.username,
                    password: this.password
                }
                })
                console.log(res.data.login)
                localStorage.setItem('username',this.username)
                await onLogin(this.$apollo.provider.defaultClient,res.data.login)
                this.$router.push('/chats')
            } catch({ graphQLErrors, networkError }){
                if (graphQLErrors)
                    graphQLErrors.map(({ message}) =>
                    this.error=message,)
                if (networkError) this.error = networkError
            }
        },
        noerr(){
            this.error=""
        }
    }
}
</script>

<style>
.flex-div {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100vw;
}
.form-login {
    width: 50vw;
}
</style>